/*
 * Kisakone live css
 *
 * Copyright 2015 Tuomo Tanskanen <tuomo@tanskanen.org>
 */

.classname {
    padding-top: 3em !important;
    border-top: none !important;
}

.event-filter {
    display: inline-block;
    margin-right: 2em;
}

.pad-right {
    margin-right: 2px;
}

.cntr {
    text-align: center;
}

.left {
    text-align: left !important;
    white-space: nowrap !important;
}

.right {
    text-align: right !important;
}

.noborder {
    border: none !important;
}

.totals {
    font-weight: bold;
}

.hio {
    background-color: Gold !important;
}

.eagle {
    background-color: Red !important;
}

.birdie {
    background-color: #f6a690 !important;
}

.par {
    background-color: #f6F6F6 !important;
}

.bogey {
    background-color: #aacfcf !important;
}

.double {
    background-color: #51787e !important;
    color: white;
}
