body, html {
    font-family: arial;
    margin: 0px;
    padding: 0px;
    font-size: 11pt;

}

html, body, #contentcontainer, #maintr2 {
    height: 100%;
    padding:0px;
    margin:0px;
}

#headtr {
    /* any small value will do, it'll expand as necessary but not beyond */
    height: 32px;
}

h2 {
    background-image: url(../images/h2bg.png);
    background-repeat: repeat-x;
    font-family: verdana;
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: -15px;
    margin-right: -15px;
    padding: 3px 0px 3px 16px;
    font-size: 1em;
    height: 20px;
    color: #4b4b4b;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.hotlinks a {
    color: red;
}


table {
    width: 100%;
}

td {
    vertical-align: top;
}

th{
    text-align: left;
    padding-right: 8px;
}

#header {
    background-color: #67abeb;
    height: 100px;
    text-align: center;
    color: white;
    background-image: url(../images/headbg.png);
}

#header a {
    color: white;
    font-weight: bold;
}

#sitename {
    margin: 0px;

    font-family: verdana;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-top: 22px;
    text-shadow: rgba(0,0,0,0.4) 0 2px 2px;
}

#pagename {
    font-family: verdana;
    font-size: 16px;
    margin: 4px;

}


#sitelogo {
    float: left;
    margin: 4px;
    height: 80px;
    margin-top: 10px;
}


.loginbox {
    float: right;
    font-size: 0.8em;
    margin: 16px;
    padding-left: 12px;
    color: black;
    text-align: left;
    min-height: 100px;
}

#login_form {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 230px;
    height: 120px;
    padding: 4px;
    background-color: #e1e1bd;
}

a {
    color: blue;
}

#login_form a {
    color: #4d87ad;
    text-decoration: none;
}

#login_form input[type="text"], #login_form input[type="password"] {
    width: 90%;
}

.evenform label {

    float: left;
    clear: both;
    min-width: 140px;
}

.dialogx {
    width: 30px;
    height: 30px;
    float: right;
}


#contentcontainer {
    clear: left;
    width: 100%;

}

#mainmenu, #mainmenu li, .submenu, .submenu li {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

#mainmenu a {
    text-decoration: none;
}

.submenu img { border: none; }

#submenucontainer {
    background-image: url(../images/bar2.png);
    background-repeat: repeat-x;
    background-color: #79997e;
}

.submenu li {
    margin-left: 16px;
    font-size: 11pt;
}

.submenu a {
    text-decoration: none;
    color: #2f5ab6;
}

#mainmenu {
    background-color: #8a8a8a;
    height: 35px;
    background-image: url(../images/mainmenubg.png)
}

#mainmenu li {
    float: left;
    min-width: 120px;
    padding-top: 3px;
    text-align: center;
    color: white;
    font-family: verdana;
    font-size: 13pt;
    font-weight: normal;
    border-right: 1px solid #525252;
    height: 32px;
}

#mainmenu a {
    display: block;
    color: white;
    height: 32px;
    padding-top: 3px;
}

#submenucontainer {
    width: 160px;
}

#zmainmenu .selected {
    background-color: #285ea6;
}
#zmainmenu .selected a {
    color: white;
    text-decoration: none;
}
#submenu a {
    color: blue;
}

#content {
    padding: 16px;
}

#adbannercontainer {
    width: 160px;

    padding: 0;
    background-color: #ccdae5;
}

#helpcontainer {
    width: 320px;
    background-color: #ccdae5;
}

#adbanner {
    height: 300px;
}

.evenform input[type="text"], .evenform select, .evenform textarea, .evenform input[type="password"]{
    min-width: 280px;
    margin-bottom: 1em;
}

.evenform input[type="submit"] {
    min-width: 100px;
    margin-bottom: 1em;
}

.form_fill_instruction {
    font-size: 0.8em;
    margin-bottom: 1.5em;
}

.formelements {
    float: left;
}

.form_end {
    clear: both;
    margin: 24px;
}

.form_end input {
    float: right;
    margin-right: 24px;
}

.autocomplete-w1 {
    /* Doesn't exist anymore, removed 2014.02.17
    background: url(img/shadow.png) no-repeat bottom right;
    */
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 8px 0 0 6px;
    /* IE6 fix: */
    _background: none;
    _margin: 0;
}

.autocomplete {
    border: 1px solid #999;
    background: #FFF;
    cursor:default;
    text-align:left;
    max-height:350px;
    overflow: auto;
    margin: -6px 6px 6px -6px;
    /* IE6 specific: */
    _height: 350px;
    _margin: 0;
    _overflow-x: hidden;
}

.autocomplete .selected {
    background: #F0F0F0;
}

.autocomplete div {
    padding: 2px 5px;
    white-space: nowrap;
}

.autocomplete strong {
    font-weight: normal;
    color: #3399FF;
}

.usersform input[type="text"] {
    min-width: 280px;
    margin-bottom: 1em;
}

.usersform input[type="submit"] {
    min-width: 100px;
    margin-bottom: 1em;
}

.nowrap {
    white-space: nowrap !important;
}

.jsonly {
    display: none;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.error {
    color: red;
    padding: 16px;
    background-color: #FEE;
}

.searcharea {
    color: green;
    padding: 16px;
    background-color: #EFE;
}

.buttonarea {
    clear: both;
    padding: 16px;
    background-color: #EEF;
}

.evenform .checkboxlabel {
    float: none;
}

.fielderror {
    display: inline;
    color: red;
}

.editList, .editList li {
    list-style-type: none;
}

.note {
    font-size: 0.8em;
}

.narrow {
    width: auto;
}

th {
    padding-right: 8px;
}

.sitenews {
    font-size: 0.9em;
    margin: 8px;
}

.submenu0 > li > span, .submenu0 > li > a {
    font-weight: bold;
}

.submenu0 > li {
    margin-bottom: 16px;
}

.nofloatylabels label {
    float: none;
}

.hilightedrow {
    background-color: #bbd1b6 !important;
}

.evenrow {
    background-color: #eff5ed;
}

.hot_event_row a {
    color: #bd0d00;
}

.doubleHilight {
    background-color: #DFD;
}

a img {
    border: none;
}

.nobullets, .nobullets li {
    list-style-type: none;
}

.ad_none {
    display: none;
}

.bad_class {
    background-color: #FAA;
}

.event_links a {
    display: inline-block;
    margin-right: 8px;
}

.classes_max_width {
    word-wrap: break-word;
    max-width: 20em;
}

#index-partners {
    display: block;
    margin: auto;
    text-align: center;
}

#index-partners img {
    margin-left: 15px;
    margin-right: 15px;
    width: 290px !important;
    height: 145px !important;
}

@media all and (max-device-width: 720px) {
    #index-partners img {
        margin-left: 1px;
        margin-right: 1px;
        width: 245px !important;
        height: 125px !important;
    }
}
