RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !doc/install/
RewriteCond %{REQUEST_FILENAME} !images/
RewriteCond %{REQUEST_FILENAME} !\.(ico|js|css|png|jpg|jpeg|gif|htm|svg)$
RewriteCond %{REQUEST_FILENAME} !index.php$
RewriteRule (.*) index.php?path=$1&%{QUERY_STRING}

